p.exl{border:2px solid black;
    outline-style: solid;
    outline-color: red;}
    p{outline-offset:15px;
    text-align:justify;}
    p.2{text-align-last:justify;}
    p{text-decoration-line:underline;}
    a:link{background-color:yellow;}
    a:visited{background-color:cyan;}
    a:hover{background-color:lightgreen:}
    a:active{background-color:hotpink;}