<html>
    <head>
        <link rel="stylesheet"href"style.css">

    </head>
    {
        body{background-color:powderblue;}
    h1{color:rgb(0, 247, 255);}
    p{color:red;}}
    
</html>