h1 {text-align: center;margin:25px 50px 75px 100px;}
  
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
  p {text-align: center;
  margin:25px 50px 75px 100px;
font-size: large;}
  img{
width:25%}
h2 {text-align: center;margin:25px 50px 75px 100px;}
button{background-color:rgb(2, 59, 2)}
@media only screen and (max-width: 600px)
body{min-width: 80;}

    table,th,td{
      border:1px solid black;} 
      table.center {
        
        margin-left: auto;
        margin-right: auto;
         
      }
      a{color:aliceblue;}
      
      ul {
        @media only screen and (max-width: 400px)
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      
        top: 0;
        width: 100%;
        position:fixed;
      }
      
      
      
      
      li {
        float: left;
      }
     
      li a {color:black;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 167.35px;
        background-color: #ebe4e4;
       
      }
      h3 {text-align: center;margin:25px 50px 75px 100px;color:aliceblue;}
      
    